* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
    padding: 0 15px;
}

/* Banner */
.banner {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 50px auto;
    padding: 40px;
    gap: 30px;
}

.banner-left {
    flex: 1;
}

.banner-left h2 {
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;
}

.banner-left p {
    font-size: 16px;
    margin: 30px 0;
}

/* Button */
.btn {
    background-color: rgb(221, 0, 0);
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    padding: 15px 25px;
    cursor: pointer;
}

img {
    max-width: 100%;
}

.banner-right {
    flex: 1;
}

.banner-right img {
    display: block;
}

/* Matches */
.upcoming-matches {
    display: flex;
    padding: 50px 0;
    gap: 20px;
}

.upcoming-matches-left {
    background-color: black;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: 10px;
    height: fit-content;
}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
    background-color: white;
    color: black;
}

/* Grid */
.upcoming-matches-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

/* Card */
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: .3s;
}

.card:hover{
    transform: translateY(-5px);
}

.card img {
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.card-box {
    padding: 15px;
}

.card .btn {
    background-color: white;
    color: black;
    border: 2px solid black;
    padding: 6px 15px;
    font-size: 14px;
}

.card h2 {
    margin: 15px 0;
    font-size: 18px;
}

.card-bottom {
    display: flex;
    justify-content: space-between;
    color: black;
}

/* ======================
   MOBILE
====================== */
@media (max-width:768px) {

    .banner {
        flex-direction: column;
        text-align: center;
    }

    .banner-left h2 {
        font-size: 40px;
        line-height: 45px;
    }

    .upcoming-matches {
        flex-direction: column;
    }

    .upcoming-matches-left {
        flex-direction: row;
        width: 100%;
        background-color: transparent;
        padding: 0;
    }

    .upcoming-matches-left .btn{
        flex:1;
        border:1px solid black;
    }

    .upcoming-matches-right {
        grid-template-columns: 1fr;
    }
}

/* ======================
   TABLET
====================== */
@media (max-width:992px) {

    .upcoming-matches-right {
        grid-template-columns: repeat(2,1fr);
    }

    .banner-left h2 {
        font-size: 50px;
        line-height: 55px;
    }
}
