* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.banner {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 50px auto;
}

.banner-left {
    padding-left: 150px;
    flex: 1;
}

.banner-left h2 {
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;

}

.banner-left p {
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 30px 0px;
}

.btn {
    background-color: rgb(221, 0, 0);
    color: white;
    width: 187px;
    height: 56px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    padding: 15px 25px;
}
img{
    max-width: 100% ;
}
.banner-right img {
    display: block;
}
.banner-right{
    flex: 1;
}
.upcoming-matches {
    display: flex;
    
    padding: 50px 0;
    gap: 10px;

}

.upcoming-matches-left {
    background-color: black;
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    border-radius: 10px;
    height: fit-content;
}

.upcoming-matches-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.upcoming-matches-left .btn:nth-child(1),
.upcoming-matches-left .btn:nth-child(2) {
    background-color: white;
    color: black;
}

.upcoming-matches-left .btn {}

.upcoming-matches-right .card {

}
.upcoming-matches-right .card img{
    height: 180px;
    border-radius: 10px 10px 0px 0px
}
.upcoming-matches-right .card .btn{
    background-color: white;
    color: black;
    border:2px solid black;
    padding: 8px 17px;
    margin-top: 10px;
}
.upcoming-matches-right .card h2{
    margin: 15px 0;
    font-size: 18px;
    font-weight: 600;
}
.card-bottom{
    display: flex;
    gap: 120px;
    color: black;
}
.card-box{
    padding: 10px;
}

 /* media quary mobil */
@media (max-width:768px) {
    .banner{
        flex-direction: column;
        text-align: center;
    }
    .banner .banner-left{
        margin-bottom: 20px;
        padding-left: 0;
        padding-top: 20px;
    }

 
}
/* media quary laptop vs tab */
@media (max-width:992px){
    .upcoming-matches{
        flex-direction: column;
    }
    .upcoming-matches-left{
        flex-direction: row;
        width: 100%;
        background-color: transparent;
        
    }
    .upcoming-matches-left > *{
        flex: 1;
    }
    .upcoming-matches .btn{
        border: 1px solid white;
    }
    .upcoming-matches-right{
        grid-template-columns: repeat(2, 1fr);
    }
    .banner-left h2 {
    
    font-size: 50px;
    line-height: 50px;

}
}