* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 1280px;
    margin: auto;
}

.banner {
    display: flex;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 50px auto;
}
.banner-left{
padding-left: 150px;
}

.banner-left h2 {
font-weight: bold;
font-size: 70px;

}
.banner-left p{
    font-weight: 400;
    font-size: 16px;
    color: rgb(255, 255, 255);
    margin: 30px 0px;
}
.btn{
 background-color: rgb(221, 0, 0);
 color: white;
 width: 187px;
 height: 56px;
 border-radius: 8px;
 border: none;
 font-size: 20px;
 padding: 15px 25px;
}
.banner-right img{
display: block;
}

.upcoming-matches{
    display: flex;
    background-color: green;
    padding: 50px 0;

}
.upcoming-matches-left{
    background-color: black;
    flex: 1;
}
.upcoming-matches-right{
    background-color: orange;
}