*{
    padding: 0px;
    margin: 0px;
}

.box-sizeing {
    background-color: purple;
    height: 700px;
    width: 900px;
    margin: auto;
    gap: 10px;
    /* display flex */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;


    /* display grid  */

    /* display: grid;
place-content: center; */

    /* use position */
    /* position: relative; */

}

.content-box {
    background-color: red;
    width: 200px;
    height: 200px;
    /* position: absolute; */
    top: 50%;
    /* transform: translate(-50%,-50%);
left: 50%; */
    /* margin: auto; */
    box-sizing: content-box;
    padding: 80px;
}

.border-box {
    background-color: green;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    padding: 80px;
}

.flag-green {
    background-color: green;
    width: 500px;
    height: 300px;
    position: relative;
}

.flag-red {
    height: 100px;
    width: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}