.box-sizeing{
background-color: purple;
height: 700px;
width: 700px;
margin: auto;
gap: 10px;
/* display flex */
/* display: flex;
justify-content: center;
align-items: center; */


/* display grid  */

display: grid;
place-content: center;

/* use position */
/* position: relative; */

}

.content-box{
background-color: red;
width: 300px;
height: 300px;
/* position: absolute; */
top: 50%;
/* transform: translate(-50%,-50%);
left: 50%; */
/* margin: auto; */
}

/* .border-box{
background-color: green;
width: 300px;
height: 300px;
} */